-
  const ttl = "Firebase Todo"

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
  body
    header
      h1 #{ttl}
    main
      div
        input#addTodo(type="text" autocomplete="off" onkeypress="enter();")
        button#addBtn(type="button" onclick="addFC()") 追加
      div#result
    script(src="js/index.js")